body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 600px;
}

.terminal {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    overflow: scroll;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
    background-image: none;
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    color: white;
    background-color: black;
}

.top-buffer { margin-top:20px; }