@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Telnet Web Access</h1>
    <p class="lead">Telnet Web Access lets you telnet to any machine from your web browser!</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Go to the telnet tab, input the host and port, connect and you're done!
        </p>
    </div>
</div>